html, body {
    width: 100%;
    min-width: 1000px;
}

body {
    padding: 0;
    margin: 0;
    font-size: 0;
    background-color: #f1eff1;;
}

a, a:hover {
    text-decoration: none;
    cursor: pointer;
}

img {
    border: none;
}

p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    font-size: 0;
    list-style: none;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    font-family: Arial, Sans-serif;
}

/*---------------------------------------------------------------------------------------------------
-----------------------------------------------HEADER------------------------------------------------
----------------------------------------------------------------------------------------------------*/
header {
    display: inline-block;
    width: 100%;
    background: url("../img/header-bg.jpg") repeat;
    /*background-size: auto 100%;*/
    margin-bottom: 20px;

}

/*------------------------header top-------------------------------*/
section.header-top {
    position: relative;
    float: right;
    width: 812px;
    margin-top: 67px;
    margin-bottom: 28px;
}

.logo {
    display: inline-block;
    float: left;
}

nav {
    position: absolute;
    bottom: 0;
    right: 0;
}

nav ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 6px;
}

nav ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

nav ul li.last {
    padding-right: 0;
}

.fb-login {
    display: inline-block;
    width: 69px;
    height: 22px;
    background: url("../img/fb-login.png") no-repeat;
    background-size: 100%;
}

/*------------------------sing up panel-------------------------------*/
.sing-up-panel {
    position: relative;
    clear: both;
    float: right;
    margin-bottom: 15px;
    width: 760px;
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #960000;
}

.sing-up-panel:before {
    content: '';
    position: absolute;
    top: -14px;
    left: 23px;
    width: 0;
    height: 0;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 14px solid #960000;
}

.sing-up-panel p {
    display: inline-block;
    float: left;
    max-width: 409px;
    line-height: 1.5;
    color: #fff;
    font-size: 21px;
}

form {
    display: inline-block;
    float: right;
}

.top-search input[type="text"] {
    width: 210px;
    padding: 8px 15px;
    border: none;
    box-shadow: inset 0 0 10px 0 #ABABAB;
    -webkit-box-shadow: inset 0 0 10px 0 #ABABAB;
    -moz-box-shadow: inset 0 0 10px 0 #ABABAB;
    -o-box-shadow: inset 0 0 10px 0 #ABABAB;
    background-color: #fff;
    font-size: 12px;
}

.top-search input[type="submit"] {
    width: 96px;
    height: 31px;
    padding: 0;
    margin-left: 4px;
    border: none;
    background: url("../img/sing-btn-bg.png") no-repeat;
    color: #960000;
    font-weight: bold;
}

input[type="button"], input[type="submit"] {
    outline: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    color: #fff;
}

::-webkit-input-placeholder {
    color: #dda3a3;
}

::-moz-placeholder {
    color: #dda3a3;
}

/* Firefox 19+ */
:-moz-placeholder {
    color: #dda3a3;
}

/* Firefox 18- */
:-ms-input-placeholder {
    color: #dda3a3;
}

/*--------------------------------aside-------------------------------*/
header aside {
    float: left;
    clear: both;
    width: 160px;
    font-size: 14px;
}

.last-deal {
    position: relative;
    width: 116px;
    padding: 11px 9px;
    margin-bottom: 22px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    color: #960000;
    font-size: 21px;
}

.last-deal:after {
    content: '';
    position: absolute;
    right: -14px;
    top: 20px;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-left: 14px solid #fff;
    border-bottom: 17px solid transparent;
}

.last-deal span {
    font-size: 45px;
    font-weight: bold;
}

.last-deal p, .last-deal span {
    max-width: 116px;
    margin-top: 7px;
}

header aside ul {
    margin-bottom: 10px;
}

header aside ul li {
    margin-bottom: 1px;
}

header aside a {
    display: inline-block;
    padding: 11px 10px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #2a2a2a;
    color: #929292;
    font-size: 21px;
}

header aside ul li a:hover,
header aside ul li .active {
    color: #ffe400;
}

/*---------------------------header main-------------------------------*/

section.header-main {
    display: inline-block;
    float: right;
    width: 780px;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;

}

.header-section {
    float: initial;
}

.header-text-group {
    padding: 10px 20px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #000;
}

.header-text-group h1 {
    margin: 0;
    line-height: 1;
    font-size: 33px;
}

.header-text-group p {
    color: #595959;
    font-size: 20px;
}

.header-section {
    display: inline-block;
    width: 780px;
    margin-bottom: 10px;
}

.header-section img {
    float: left;
}

.action {
    float: right;
    width: 398px;
}

.action-top-text {
    display: inline-block;
    width: 365px;
    padding: 10px 10px 10px 20px;
    background: url("../img/h_tx_bg.png") no-repeat;
    background-size: 100%;
    height: 28px;
}

.action-top-text p {
    float: left;
    line-height: 2;
    color: #9c9c9c;
    font-size: 14px;
}

.action-top-text span {
    float: right;
    font-size: 25px;
    font-weight: bold;
    color: #9c9c9c;
}

.action-section {
    float: right;
    clear: both;
    width: 366px;
    padding: 10px 10px 0 10px;
    margin-right: 3px;
    box-shadow: inset 0px 0px 50px 0px #000;
    -webkit-box-shadow: inset 0px 0px 10px 0px #000;
    -moz-box-shadow: inset 0px 0px 50px 0px #000;
    -o-box-shadow: inset 0px 0px 50px 0px #000;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: #2a2a2a;
}

.action-top {
    display: inline-block;
    margin: 24px 0 20px 0;
    width: 366px;
}

span.big-number {
    display: inline-block;
    margin-left: 10px;
    max-width: 165px;
    line-height: 64px;
    color: #fff;
    font-size: 52px;
}

.action-button {
    float: right;
    width: 176px;
    display: inline-block;
}

.action-button input[type="button"] {
    float: right;
    width: 175px;
    height: 57px;
    padding: 0;
    margin-bottom: 17px;
    border: none;
    background: url("../img/act-btn.png") no-repeat;
    text-indent: 17px;
    font-weight: bold;
    font-size: 27px;
    color: #960000;
}

.action-button input[type="button"]:hover {
    color: #fff;
}

.action-button a {
    display: inline-block;
    float: right;
    padding-left: 40px;
    background: url("../img/present.png") left 12px center no-repeat;
    color: #fff;
    font-size: 13px;
}

.action-section ul {
    clear: both;
}

.action-section li {
    display: inline-block;
    position: relative;
    margin-bottom: 9px;
    margin-right: 10px;
    padding: 5px 18px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #212121;
    text-align: center;
}

.number {
    color: #ffe400;
    font-size: 31px;
    font-weight: bold;
}

.text {
    margin-bottom: 2px;
    color: #9c9c9c;
    text-transform: uppercase;
    font-size: 12px;
}

.action-section li:first-child .text {
    text-align: right;
}

.action-section li:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    right: -9px;
    width: 8px;
    height: 1px;
    background-color: #fff;
}

.action-section li.last:after {
    content: none;
}

/*---------------------------header bottom-------------------------------*/
.header-bottom {
    float: right;
}

.header-bottom p {
    display: inline-block;
    float: left;
    margin-right: 15px;
    line-height: 20px;
    font-size: 12px;
}

.header-bottom p span {
    color: #df0000;
}

.header-bottom ul {
    display: inline-block;
}

.header-bottom li {
    display: inline-block;
    float: left;
}

li.facebook a {
    display: inline-block;
    width: 76px;
    height: 20px;
    background: url("../img/like.png") no-repeat;
}

li.twitter a {
    display: inline-block;
    width: 96px;
    height: 20px;
    background: url("../img/tweet.png") no-repeat;
}

li.twitter {
    margin-right: 7px;
}

/*---------------------------------------------------------------------------------------------------
-----------------------------------------CONTENT-----------------------------------------------------
----------------------------------------------------------------------------------------------------*/

/*-----------------------aside sidebar-----------------------*/
div.content {
    display: inline-block;
    width: 100%;
    background: url("../img/f_pre_bg.png") bottom repeat-x #f1eff1;
}

.sidebar {
    float: left;
    width: 160px;
}

.iphone {
    width: 151px;
    height: 254px;
    margin-bottom: 1px;
    background: url("../img/iphone.png") no-repeat;
}

.appstore {
    width: 150px;
    height: 52px;
    background: url("../img/appstore.png") no-repeat;
    display: inline-block;
    margin-bottom: 14px;
}

div.facebook-section {
    width: 150px;
    height: 258px;
    background: url("../img/facebok.png") no-repeat;
    margin-bottom: 95px;
}

/*-----------------------section-----------------------*/

.content section {
    display: inline-block;
    padding: 0 0 0 10px;
    width: 545px;
    margin-bottom: 40px;
    float: left;
    overflow: hidden;
}

.content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    padding: 11px 20px;
    min-width: 110px;
    display: inline-block;
    text-align: center;
    font-weight: normal;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -icab-border-radius: 5px;
    border-radius: 5px;
    behavior: url(border-radius.htc);
    margin: 0 0 17px 20px;
    position: relative;
}

/*-----------------------article-----------------------*/

/*.content article, .map-section{
    width: 555px;
    float: left;
}*/

article h2, .map-section h2 {
    background-color: #960000;
}

article p, article a {
    color: #000;
    font-size: 13px;
    font-family: Arial;
    line-height: 1.4;
}

article a {
    color: #df0000;
    margin-bottom: 16px;
    display: inline-block;
}

article h2:after, .map-section h2:after {
    content: '';
    display: inline-block;
    background-color: #cbcbcb;
    border-bottom: 1px solid #fff;
    height: 1px;
    width: 375px;
    position: absolute;
    top: 50%;
    right: -375px;
}

article h2:before, .map-section h2:before {
    content: '';
    display: inline-block;
    background-color: #cbcbcb;
    border-bottom: 1px solid #fff;
    height: 1px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: -30px;
}

/*-----------------------map section-----------------------*/
.map {
    width: 300px;
    height: 234px;
    background: url("../img/map.png") no-repeat;
    float: left;
    clear: left;
}

.map-section h2 {
    float: left;
    clear: both;
}

.contacts {
    margin: 0 0 0 15px;
    width: 230px;
    float: right;
}

.contacts p {
    font-size: 15px;
    line-height: 19px;
    color: #7d7d7d;
    padding: 0 0 0 48px;
    background: url("../img/poineter.png") top left no-repeat;
    margin-bottom: 20px;
}

.contacts a {
    color: #df0000;
    font-size: 15px;
    padding: 0 0 0 48px;
    text-decoration: underline;
    display: block;
}

/*-----------------------right aside-----------------------*/
.effect {
    float: right;
    width: 220px;
    padding: 0 10px;
}

.effect h2 {
    background-color: #e4e4e4;
    margin: 0 0 17px 0;
    font-weight: normal;
    color: #7a7a7a;
    position: relative;
}

.effect p {
    color: #595959;
    font-size: 14px;
    margin: 0 0 20px;
}

.effect h2:after {
    content: '';
    display: inline-block;
    background-color: #cbcbcb;
    border-bottom: 1px solid #fff;
    height: 1px;
    width: 75px;
    position: absolute;
    top: 50%;
    right: -75px;
}

.effect h2:before {
    content: '';
    display: inline-block;
    background-color: #cbcbcb;
    border-bottom: 1px solid #fff;
    height: 1px;
    width: 20px;
    position: absolute;
    top: 50%;
    left: -20px;
}

/*-----------------------presentation-----------------------*/
.content section.presentation {
    margin: 0 0 95px 0;
    padding: 15px 10px 10px 10px;
    background-color: #2f2f2f;
    width: 780px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    float: right;
}

.presentation h2 {
    background-color: #464646;
    font-size: 15px;
}

.presentation h2:after {
    content: '';
    display: inline-block;
    background-color: #000000;
    border-bottom: 1px solid #444444;
    height: 1px;
    width: 550px;
    position: absolute;
    top: 50%;
    right: -550px;
}

.presentation h2:before {
    content: '';
    display: inline-block;
    background-color: #000000;
    border-bottom: 1px solid #444444;
    height: 1px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: -30px;
}

section.presentation p {
    font-size: 13px;
    color: #a7a7a7;
    margin: 0 230px 3px 0;
    line-height: 1.4;
}

section.presentation a {
    color: #fff;
}

section.presentation img {
    float: left;
    margin-right: 10px;
}

section.presentation ul {
    float: right;
    width: 220px;
    padding-left: 10px;
    /*border-left: 1px solid;*/
    position: relative;
}

.presentation ul:before {
    content: '';
    display: inline-block;
    background-color: #000000;
    border-right: 1px solid #444444;
    height: 100%;
    width: 1px;
    position: absolute;
    top: 0;
    left: -1px;
}

section.presentation ul li img {
    float: left;
    margin-right: 5px;
    width: 60px;
}

.presentation-text-right {
    float: right;
    font-size: 12px;
    width: 155px;
}

section.presentation ul li {
    overflow: hidden;
    margin-bottom: 35px;
}

section.presentation ul li h3 {
    color: #ffe400;
    margin: 0;
    line-height: 1;
    font-size: 12px;
}

section.presentation ul li p {
    margin: 0;
    color: #fff;
    line-height: 1;
}

/*---------------------------------------------------------------------------------------------------
-----------------------------------------FOOTER-----------------------------------------------------
----------------------------------------------------------------------------------------------------*/
footer {
    background: url("../img/f_bg.png") repeat-x;
    background-size: auto 100%;
}

footer p, footer a {
    font-size: 14px;
    color: #fff;
}

footer h4 {
    font-size: 20px;
}

.info-graphic-menu li {
    display: inline-block;
    width: 225px;
    float: left;
    margin: 30px 8px 0 7px;
}

.info-graphic-menu p {
    padding: 0 35px 0 63px;
    margin: 0 0 34px 0;
    line-height: 1.3;
}

.how-it-works {
    background: url('../img/f_icon1.png') left no-repeat;
}

.business-proposition {
    background: url('../img/f_icon2.png') left no-repeat;
}

.info-graphic-menu h4 {
    color: #d70202;
    margin: 0 0 10px 0;
    line-height: 1;
}

.info-graphic-menu a {
    padding: 7px 10px;
    display: inline-block;
    background-color: #d70202;
    min-width: 200px;
    text-align: left;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0 0 60px 0;
}

.footer-nav li {
    width: 225px;
    float: left;
    margin: 30px 8px 0 7px;
}

.footer-nav h4 {
    color: #ffe400;
    margin: 0 0 10px 0;
    line-height: 1;
}

.footer-nav-links li {
    margin: 0;
}

.footer-nav-links li a {
    border-bottom: 1px solid #4f2a2b;
    display: inline-block;
    width: 225px;
    padding-top: 10px;
    line-height: 1.4;
    font-size: 15px;
}





